/* -----------General ----------------*/

body {
  margin:0;
  text-align: center;
  font-family: "Helvetica Neue",sans-serif;

}

#programmer {
  font-family: 'Montserrat', sans-serif;
  margin:0;
}


h1{
  margin:50px auto 10px auto;
  padding:100px 0 0 0;
  font-family: 'Sacramento', cursive;
  font-size:6.5rem;

  color: #66BFBF;
  line-height:2;
  margin-top:0;
}

h2{
    font-family: 'Montserrat', sans-serif;
    margin:0 auto;
    color: #66BFBF;
    font-weight:normal;
    font-size: 4rem;
    margin-top:-20px;
    width:40%;
    white-space: nowrap;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    font-size: 1.75rem;

    color: #11999E;
}

hr {
  width:15%;
  border:0;
  border-top:10px dotted #EAF6F6;
  margin-bottom: 100px;
  margin-top: 100px;

}

/* -----------Top ----------------*/


.top{
    padding-top:0;
    background-color: #EAF6F6;
    position:relative;
    height:50rem;
}
@media (min-width:1000px) {
  .top{
    height:125vh;
  }
}



.top >img{
  position:absolute;
}
.cloud-top {
  top:15%;
  right:10%;
}
.cloud-bottom {
  bottom:40%;
  left:10%;
}

.mountain {
  display: inline-block;
  width:50%;
  bottom:0;
  transform: translateX(-100%);

}

.introname {
  display:inline-block;
  position: relative;

  width:50%;
  top:12.5%;

}

/* -----------Middle ----------------*/
.naveen-photo {
  margin-top:75px;
  width:65%;
}
.profile {
  width:40%;
  top: 30%;
  margin:-10px auto 50px;
  line-height: 2;
}



.coding-img {
   width:25%;
   float:right;
   margin-left:30px;
}
.painting-img {
   width:25%;
   float:left;
   margin-right:30px;
}



.skill-row {
  margin:100px auto;
  width:50%;
  text-align: left;
  line-height:2rem;
}

/*-------------CONTACT ME ----------------------*/
.contact-me{
  margin:50px auto 100px;
  width:50%;
}
.contact-me > h2{
  width:80%;
  margin-bottom: 50px;
}
.contact-me > h3{
  margin-bottom: 25px;
}

button > a{
  font-size: 1.25rem;

  text-decoration: none;
  color:white;
}
button {
  margin-top: 50px;
  border: 0;
  padding:10px 22.5px;
  border-radius: 5px;
  background: linear-gradient(to right, #11999E 0%, #66BFBF 35%,  #11999E 100%);
}




/* -----------Bottom ----------------*/


.bottom-container {
  margin:0 auto 0;
  background-color: #66BFBF;
  padding:30px;

}

.bottom-container > a {
  font-weight: bold;
  padding:30px;
  color:#11999E;
  text-decoration:none;

}
.bottom-container > p {
  margin-top:30px;
  color: #EAF6F6;
}
